<div>
  <h2>Secure Area</h2>
    <h4>Welcome to the Secure Area. When you are done click logout below.</h4>
    <a class="btn btn-primary btn-lg" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>
